section.modal-container {
    //background: linear-gradient(to right bottom, rgb(45,21,51), rgb(79,22,32), rgb(45,21,51), rgb(79,22,32), rgba(140, 34, 34, 0.979));
    max-width: 80ch;
    margin: 0 auto;
    border: none;
    

    & section {
        max-width: 80ch;
        margin: 0 auto;

        &:last-child {
            padding-bottom: 2em;
        }
    }

    &.mandatory-scroll-snapping, & .mandatory-scroll-snapping {
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    & > section, & .form-field {
        scroll-snap-align: center; 
        min-width: 100%; 
        margin-inline: 1em;
    }
    
    
    & .notify {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: .8em;
        border-radius: 4px;
        margin: 1em auto;
        max-width: 80ch;
        background-color: rgba(0, 128, 0, 0.467);
        font-weight: bold;
        text-align: center;
        
        &.error {
            background: #f443366d;
            font-weight: bold;
        }

    }
    
    
    & section.modal-data {      
        
        & .modal-message {
            padding-block: 1em; 
            display: grid;
            place-items: center;
            text-align: center;  
        }
    }
    
    & section.password-recovery {
        max-width: 75ch;
        
        & form {
            max-width: 75ch;
            margin: 0 auto;
            text-align: center;
            display: grid;
            gap: 20px;
            justify-items: center;
            
            & label {
                color: rgb(7, 32, 100);
                display: grid;
                gap: 10px;
                
                & input {
                    background: none;
                    border: none;
                    border-bottom: 1px solid cyan;
                 
                    padding: .5em 1em;
                    text-align: center;
                    
                    &:hover {
                        outline: none;
                    }
                }
            }
            
            & .is-btn.blue {
                position: relative;
                overflow: hidden;
                background: transparent;
                color: #13232f;
                transition: color .5s ease-in-out;
                background: #0505ed71;
                border-radius: 4px;
                z-index: 0;
                cursor: pointer;
                border: none;
                padding: .5em 1em;
                max-height: 30px;
                width: 90%;
                max-width: 150px;

                &:hover {
                    color: white;
                }
        
                &::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    border-radius: 4px;
                    border: none;
                    z-index: -1;
                    top: 0;
                    left: -13px;
                    background-color: blue;
                    transform: skewX(35deg);
                    transition: width .5s ease-out;
                }
                
                &:hover::after {
                    width: 150%;
                }
            }
        }
        
        
    }

    & .go-back {
        font-size: 3em;
        padding-left: .2em;
        cursor: pointer;
    }

    & .simple-toast {
        position: fixed;
        background-color: rgb(20, 73, 15);
     
        padding: 1em 2em;
        bottom: 3dvh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        max-width: 70ch;
        width: 50%;
        animation: slide-up .3s ease;

        
        
        & button {
            position: absolute;
            background-color: transparent;
            border: none;
            color: cyan;
            cursor: pointer;
            scale: 1.5;
            right: 5%;
            
        }

        & .toast-message {
            width: 90%;
            transform: translateX(-6%);
            text-align: center;
        }
    }
}

.modal-container {
    scrollbar-gutter: stable both-edges;

    &::-webkit-scrollbar {
        background-color: #addcdf;
        transition: background-color .1s ease;
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #475159;
        box-shadow: inset -3px -1px 5px gray;
        border-radius: 10px;
    }
}

@media (hover: none) {
    section.modal-container section.password-recovery form .is-btn.blue {
        background: blue;
        color: white;
    }
}

@keyframes slide-up {
    from {
        bottom: -100%;
    }
    to {
        bottom: 3dvh;
    }   
}